:root {
    /* Colores del tema */
    --color-fondo: #ffffff; /* Fondo blanco */
    --color-detalle-rojo: #FF0000; /* Rojo para detalles */
    --color-detalle-verde: #008000; /* Verde para detalles y hover */
    --color-texto: #333333; /* Texto en gris oscuro para contraste */
    --color-texto-claro: #ffffff; /* Texto claro para botones y elementos sobre fondo oscuro */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    background-size: cover;
}

.login-box, .login {
    background-color: var(--color-fondo);
    color: var(--color-texto);

}

.login-box h1, .destacado {
    color: var(--color-detalle-verde);

}

.textbox, .boton, a {
    /* Elementos de formulario y botones */
    background-color: var(--color-detalle-rojo);
    color: var(--color-texto-claro);

}

a:hover, .boton:hover {
    background-color: var(--color-detalle-verde);
    /* Estilos para hover */
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    
    /* Cosas de css extra que se puedan agregar */
}
