:root {
    /* Colores del tema */
    --color-fondo: #ffffff; /* Fondo blanco */
    --color-detalle-rojo: #FF0000; /* Rojo para detalles */
    --color-detalle-verde: #008000; /* Verde para detalles y hover */
    --color-texto: #333333; /* Texto en gris oscuro para contraste */
    --color-texto-claro: #ffffff; /* Texto claro para botones y elementos sobre fondo oscuro */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    background-size: cover;
}

.boton, .textbox {
    border-radius: 8px; /* Ajusta este valor según prefieras */
}

.boton, .login-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box, .login {
    background-color: var(--color-fondo);
    color: var(--color-texto);

}

.login-box h1, .destacado {
    color: var(--color-detalle-verde);

}

a, .boton {
    margin: 10px; /* Añade un margen alrededor de cada botón */
    display: inline-block;
    text-decoration: none; /* Elimina el subrayado */
    color: var(--color-texto-claro); /* Color del texto */
    background-color: var(--color-detalle-rojo); /* Fondo del botón */
    padding: 8px 12px; /* Relleno dentro del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

a:hover, .boton:hover {
    background-color: var(--color-detalle-verde); /* Color de fondo al pasar el mouse */
}

.textbox, .boton, a {
    /* Elementos de formulario y botones */
    background-color: var(--color-detalle-rojo);
    color: var(--color-texto-claro);

}

a:hover, .boton:hover {
    background-color: var(--color-detalle-verde);
    /* Estilos para hover */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea sutil entre filas */
}

th {
    background-color: var(--color-detalle-rojo);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Filas alternas */
}

tr:hover {
    background-color: #ddd; /* Resalta fila al pasar el mouse */
}


/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    
    /* Cosas de css extra que se puedan agregar */
}
